# Created by .ignore support plugin (hsz.mobi)
### Python template
# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
build/
dist/
downloads/
eggs/
.eggs/
*.egg-info/
*.egg
MANIFEST

# Unit test / coverage reports
.tox/
.coverage
.coverage.*
.cache
.hypothesis/
.pytest_cache/
py*-tests.xml


# Sphinx documentation
docs/_build/

# Environments
.venv*/

# Personal stuff
__*/
__*.txt
__*.rst
